.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  z-index: -1;
  padding-bottom: 10vh;
}

.bg-image1 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(220, 220, 220, 0.2)),
    url("/src/images/signing.jpeg");
  height: 81vh;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 70% 94%, 40% 100%, 25% 94%, 0 94%);
}

.img-text-btn {
  width: 60%;
  min-width: 800px;
  position: relative;
  top: 34%;
  left: 10%;
  z-index: inherit;
}

.heading-primary {
  color: white;
  font-size: 2.3em;
  letter-spacing: 0.07em;
  text-shadow: 1px 1px rgb(46, 46, 46);
  font-weight: 800;
}

.btn-learn-more {
  background-color: rgb(20, 152, 212);
  color: white;
  font-size: 1.1em;
  padding: 20px 30px 20px 30px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  white-space: nowrap;
  filter: drop-shadow(1px 1px 1px rgb(59, 59, 59));

  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 2vh;
}

.btn-learn-more:hover {
  transform: translate(-5px, -15px);
  padding: 22px 32px 22px 32px;
}
.btn-learn-more:active {
  transform: translate(-4px, -8px);
}

.summary-container-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.summary-container {
  color: black;
  width: 75%;
  margin-top: 3vw;
}
.summary-header {
  font-size: 17px;
  font-weight: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2vh;
}
.summary-text {
  font-size: 24px;
  margin: 2vh;
}

.btn-email {
  background-color: rgb(20, 152, 212);
  color: white;
  font-size: 15px;
  padding: 15px 30px 15px 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 2vh;
  border-radius: 4px;
  border: none;
  white-space: nowrap;
  filter: drop-shadow(1px 1px 1px rgb(59, 59, 59));
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-email:hover {
  transform: translate(-5px, -15px);
  padding: 16px 32px 17px 32px;
}
.btn-email:active {
  transform: translate(-4px, -6px);
}

@media screen and (max-width: 830px) {
  .container {
    position: static;
  }
  .bg-image1 {
    height: 87vh;
    clip-path: none;
    background-position: -90vh;
  }
  .img-text-btn {
    width: 70%;
    min-width: 0;
    top: 15vh;
    left: 5%;
  }
  .heading-primary {
    font-size: 1.7em;
    margin-bottom: 2vh;
  }
  .btn-learn-more {
    font-size: 1em;
    padding: 18px 35px 18px 35px;
  }

  .summary-container {
    color: black;
    width: 95%;
    margin-top: 15vw;
  }
  .summary-header {
    font-size: 1em;
  }
  .summary-text {
    font-size: 1.3em;
  }
}
