.container2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: absolute;
  top: 0;
  z-index: -1;
}

.bg-image2 {
  background-image: linear-gradient(rgb(0, 0, 0, 0.5), rgb(220, 220, 220, 0.2)),
    url("/src/images/service.jpeg");
  height: 53vh;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 94%, 70% 94%, 40% 100%, 25% 94%, 0 94%);
}

.headings1 {
  color: white;
  width: 60%;
  position: relative;
  top: 40%;
  left: 13%;
  text-shadow: 1px 1px rgb(46, 46, 46);
}

.heading-big {
  font-size: 2.4em;
  letter-spacing: 0.07em;
  font-weight: 800;
}

.heading-small {
  font-size: 1.1em;
  letter-spacing: 0.1em;
  font-weight: lighter;
  text-transform: uppercase;
  margin-bottom: 1.5vh;
}

.content-container-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.summary-container1 {
  color: black;
  width: 65%;
  margin-top: 5vw;
}
.summary-header1 {
  font-size: 1.5em;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-decoration: none;
  margin: 3vh;
}
.summary-text1 {
  font-size: 1em;
  margin: 3vh;
  line-height: 1.8em;
  font-weight: lighter;
}

.second-nav-service-desktop-ctn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4vh 0 8vh 0;
  padding-bottom: 15vh;
}

.second-nav-ctn {
  border-bottom: solid 1px rgb(177, 177, 177);
  width: 80%;
  display: flex;
  justify-content: center;
}
.second-nav-btns {
  padding: 8px;
  font-size: 0.95em;
  border: solid 1px rgb(177, 177, 177);
  border-bottom: none;
  border-radius: 3px;
  margin: 0 10px 0 10px;
  background-color: rgb(247, 244, 244);
  transition: ease-in-out 0.2s;
  cursor: pointer;
}
.second-nav-btns:hover {
  background-color: rgba(13, 15, 29, 0.8);
  color: white;
}

.selected-btn {
  background-color: rgba(13, 15, 29, 0.8);
  color: white;
}

.info-desktop {
  width: 65%;
  padding-top: 10vh;
}

.accordion {
  width: 90%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  background-color: rgba(236, 236, 236, 0.8);
}
.second-nav-service-mobile-ctn {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: none;
  padding-bottom: 8vh;
}

.accordion__label,
.accordion__content {
  padding: 14px 20px;
}

.accordion__label {
  display: flex;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  transition: background 0.2s;
  width: 100%;
}

.accordion__label:hover {
  background: rgba(200, 200, 200, 0.8);
}

.accordion__label::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 12px;
  height: 6px;
  background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%;" /></svg>');
  background-size: contain;
  transition: transform 0.6s;
}

.accordion__content {
  background: white;
  line-height: 1.8;
  font-size: 0.9em;
  display: none;
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
  display: block;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: translateY(-50%) rotate(0.5turn);
}

@media screen and (max-width: 830px) {
  .bg-image2 {
    height: 60vh;
    clip-path: none;
    background-position: vh;
  }

  .summary-container1 {
    width: 95%;
    margin-top: 15vw;
  }
  .summary-header1 {
    font-size: 1.4em;
  }
  .summary-text1 {
    font-size: 1em;
  }
  .second-nav-service-desktop-ctn {
    display: none;
  }
  .second-nav-service-mobile-ctn {
    display: flex;
  }
}
