* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.footer-location {
  position: relative;
  bottom: 0;
}
